
#tbsv3{
  border:5px solid none;
  max-width: 1000px;
  width: 100%;
  overflow:auto;
  overflow:scroll;
  height:500px;
  margin: 10px auto;
}
.bangthongtin, th, .cot{
  border:1px solid #ccc;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bangthongtin{
  border-collapse:collapse;
  width: auto;
}
th, .cot{
  text-align:left;
  padding:10px;
  margin: auto;
  font-size: 15px;
}
/* #cot{
    padding-left: 10px;
    padding-right: 10px;
} */
.text{
  background: none;
  display: block;
  text-align: center;
  padding: 7px 7px;
  width: 220px;
  outline: none;
  color:#191919;
  border-radius: 8px;
  transition: 0.25s;
  font-size: 20px;
  margin: 25px auto;
}
.text:focus{
  border-color: #3498db;
  color: #3498db;
}
.text:hover{
  border-color: #3498db;
  color: #3498db;
}

.text1{
  margin-top: 25px;
  background: none;
  display: block;
  text-align: center;
  padding: 10px 10px;
  width: 350px;
  outline: none;
  color:#191919;
  border-radius: 8px;
  transition: 0.25s;
  font-size: 15px;
  /* margin: auto; */
}
.text1:focus{
border-color: #3498db;
color: #3498db;
}
.text1:hover{
border-color: #3498db;
color: #3498db;
}

.drop{
    background: none;
    display: block;
    text-align: center;
    padding: 9px 9px;
    width: 210px;
    outline: none;
    color:#191919;
    border-radius: 8px;
    transition: 0.25s;
    font-size: 20px;
    margin: 20px;
}

/* .btn{
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
    background:  #6080BF;
    text-align: center;
    padding: 10px 10px;
    width: 180px;
    outline: none;
    color:white;
    border-radius: 8px;
    transition: 0.25s;
    font-size: 20px;
    border:  #6080BF;
    
}
.btn:hover{
    background: #191919;
    color: white;
} */

.btn1{
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 5px;
  background:  #6080BF;
  text-align: center;
  padding: 10px 10px;
  width: 180px;
  outline: none;
  color:white;
  border-radius: 8px;
  transition: 0.25s;
  font-size: 20px;
  border:  #6080BF;
  /* margin-right: 30px; */
  
}
.btn1:hover{
  background: #191919;
  color: white;
}

/* radio */
.wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    padding: 0px 0px;
  }
.wrapper .option{
    width: 100px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-left: 20px; */
    /* margin-right: 20px; */
    /* margin-top: 10px; */
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 10px;
    border: 2px solid #191919;
    transition: all 0.3s ease;
    font-size: 20px;
    margin: 10px;
    
  }
  .wrapper .option .dot{
    border: 2px solid  #191919;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: relative;
  }
  .wrapper .option .dot::before{
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    background: #191919;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }

  
  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color:#191919;
    background: #191919;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 20px;
    color: #191919;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
  }
  #option-1:hover:hover ~ .option-1,
  #option-2:hover:hover ~ .option-2{
    border-color: #3498db;
    color: #3498db;
  }
  #option-1:hover:hover ~ .option-1 .dot,
  #option-2:hover:hover ~ .option-2 .dot{
    border-color: #3498db;
  }
  #option-1:hover:hover ~ .option-1 span,
  #option-2:hover:hover ~ .option-2 span{
    color: #3498db;
  }